@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap");
body {
    font-family: "DM Sans", sans-serif;
}
.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Movie-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Movie-wrapper {
    width: 500px;
    background-color: #f0f0f0;
    color: black;
    padding-bottom: 25px;
    filter: brightness(90%);
}

.Movie-wrapper:hover {
    filter: brightness(100%);
}

.Movie-search {
    height: 48px;
    font-size: 24px;
    margin-bottom: 32px;
    padding: 16px;
    font-weight: bold;
    width: 475px;
}

.Table {
    font-weight: 600;
}

.Movie-title {
    height: 75px;
    margin-top: 15px;
    font-weight: bold;
}

.Movie-image {
    height: 688px;
    width: 100%;
}

.Desc {
    float: left;
}

.Movie-rate {
    float: left;
    color: red;
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .Movie-search {
        height: 24px;
        font-size: 18px;
        margin-bottom: 32px;
        padding: 16px;
        font-weight: bold;
        width: 140px;
    }
    .Movie-title {
        height: fit-content;
        margin-bottom: 12px;
    }
    h1 {
        font-size: 30px;
    }
}
